/*primary styles*/
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #000;
}


.container{
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr;
}

/*nav styles*/
.nav-bar {
  background-color: #620593;
  display: flex;
  justify-content: space-between;
  padding: 38px;
  font-weight: 800;
  color: #c7c7c7;
}

.left-side {
  display: flex;
}

.nav-bar > .left-side > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-bar-link {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-bar-link a {
  color: #c7c7c7;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-bar-link:hover {
  border-bottom: 1px solid black;
}

.nav-bar-link a:hover {
  color: black;
}

.active-nav-link{
  border-bottom: 3px solid black;
}

.active-nav-link a{
  color: black;
}

/*content-wrapper*/

.groups{
background-color: #000;
}

@media screen and (max-width: 1000px) {
  .groups{
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1000px) {
  .groups{
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 1000px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.group{
  padding: 15px;
}

.group_title_wraper{
  border: 5px solid #0e0e10;
  height: 80px;
  width: 100%;
  border-radius: 15px;
  display: flex;
  color: #fff;
  background-color: #290f2e;
}

.group_title{
  height:100px;
  width: 100%;
  padding: 10px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 50px;
  color: #ec89cb;
}

.button {
  border: 5px solid #0e0e10;
  height:100px;
  width: 100%;
  border-radius: 15px;
  display: flex;
  color: #fff;
  background-color: #290f2e;
}

.button_logo img{
  width: 100px;
  height: 100px;
}

.button_title{
  height:100px;
  width: 100%;
  padding: 30px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color: #ec89cb;
}

.button_light_Frame{
  width: 60px;
  height: 100px;
  padding: 30px;
}

.Green_Button{
  width: 0px; 
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  border-radius: 15px;
  border: 5px solid #0e0e10;
  background-color: green;
}

.Red_Button{
  width: 0px; 
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  border-radius: 15px;
  border: 5px solid #0e0e10;
  background-color: red;
}

.Yellow_Button{
  width: 0px; 
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  border-radius: 15px;
  border: 5px solid #0e0e10;
  background-color: Yellow;
}
